h1 {
    display: flex;
    justify-content: center;
    font-family: 'Leckerli One', cursive;
    font-size: 45px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #BF7C63;
    font-size: 24px;
    color: #8C594D;
}

.navig {
    padding: 20px 30px;
}
a:visited {
    color: #F2F2F2;
}
/*FORM*/

/* Style the form element with a border around it */
form {
    border: 4px solid #2c2c2c;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
   
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #034AA6;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color: #F2C063;
  }