h1 {
    display: flex;
    justify-content: center;
    font-family: 'Leckerli One', cursive;
    font-size: 45px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #BF7C63;
    font-size: 24px;
    color: #8C594D;
}

.navig {
    padding: 20px 30px;
}
a:visited {
    color: #F2F2F2;
}
nav ul { list-style-type: none }
nav ul li { display: inline-block } 


